.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* margin-top: 20rem; */
  min-height: calc(100dvh - 300px);
  animation: fadeInUp 1s ease-in-out;
}

.suggestions {
  height: 100%;
}

.suggestions h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
  margin: 0 0;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestions-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  white-space: nowrap;
}

.feed-container {
  display: grid;
  grid-template-areas:
    "item-1 item-2"
    "item-3 item-2";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
  width: 70dvw;
  height: 100%;
  padding: 3rem 0;
  gap: 3rem;
}

.trending-projects {
  grid-area: item-1;
  grid-column: 1 / 2;
  grid-row: 1 / span auto;
}

.profile-suggestions {
  grid-area: item-2;
  grid-row: 1 / span auto;
  grid-column: 2 / 3;
}

.upcoming-events {
  grid-area: item-3;
  grid-column: 1 / 2;
  grid-row: 2 / span auto;
}

.footer-container {
  /* position: fixed; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  padding: 3rem 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.footer-links a {
  color: var(--text-color);
  text-decoration: none;
}

.copyright {
  color: var(--text-color);
  font-size: 0.9rem;
  opacity: 0.8;
  margin: 0 0;
}
